# Configuración de Supabase (Añadir en el panel de Variables de Entorno de AI Studio)
VITE_SUPABASE_URL=https://mbtnvfybehccuhwjatnw.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_9XGUjMOuffmDvfJsIgAlPw_jhqi68Ga

# Configuración de Gemini
GEMINI_API_KEY=
